
.button {
    color: white;        
    border: none;          
    border-radius: 8px;    
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
  }


.button--add {
    background-color: green;
  }  

.button:disabled {
    opacity: 0.5;           
  }


.h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    }

input {
    flex: 1; 
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    min-width: 200px; 
    max-width: 500px; 
    }

