<div>
  <h1 class="h1">ToDo List</h1>

  @if (isLoading()) {
    <div class="spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Loading tasks...</p>
    </div>
  } @else {
    <ul> 
      @for (task of tasks(); track task.id) {
        <app-to-do-item 
          [taskText]="task.text"
          [taskDescription]="task.description"
          [taskId]="task.id"
          [class.selected]="selectedItemId() === task.id"
          (delete)="deleteTask($event)"
          (select)="selectTask(task.id)">
        </app-to-do-item>
      } 
    </ul>
  }

  <div class="add-task">
    <input 
      matInput
      [ngModel]="newTaskText()"
      (ngModelChange)="newTaskText.set($event)"
      placeholder="Enter new task..."
      [disabled]="isLoading()">

    <textarea  
      matInput
      [ngModel]="newTaskDescription()"
      (ngModelChange)="newTaskDescription.set($event)"
      placeholder="Enter description..."
      [disabled]="isLoading()">
    </textarea>


       <app-button 
        [title]="'Add task'"
        [disabled]="!newTaskText().trim() || isLoading()"
        [appTooltip]="'Add new task'"
        (click)="addTask()">
    </app-button>
  </div>
</div>
