
 .button {
    color: white;        
    border: none;          
    border-radius: 8px;    
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
  }

.button--add {
    background-color: green;
  }  

.button--delete {
    background-color: red;
  }


ul {
list-style-type: none;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
}

li {
background-color: #f8f9fa;
padding: 12px 15px;
margin: 8px 0;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

